* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.page {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
}

#board {
    width: 100%;
    display: grid;
}

.new-div {
border: 1px solid #2B2B2B;
aspect-ratio: 1 / 1;
}

.new-div:hover {
    background-color: #d3d3d3;
}

@media only screen and (min-width: 961px) {
    .page {
    width: 960px;
    margin: 2rem auto;
    }
}
